lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.idea

pids
logs
results
dist
# test coverage files
.coverage/

node_modules
npm-debug.log

template/**/*.js

logs
native
target
tmp
.history
dist
.idea
*.iml
*.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.ensime
/.ensime_cache
/tags
*.scssc
*.sassc
*.css.map
**/node_modules
*.mo
**/test-reports
*.DS_store
*.orig
.boot
.sbtopts
AUTHOR_EMAIL
COMITTER_EMAIL
COMITTER_NAME
COMMIT_SUBJECT
COMMIT_TIME
CURRENT_TIME
ELAPSED_TIME
GIT_COMMIT_SHA1
GIT_REMOTE_URL
GIT_REPO_SHORT
QTER_BUILD_ID
SESSION_ID
pipelinebase
scoverage-report
sbtcoverage
*.txt
*.zip
.scannerwork
.sonar
coverage
# Python tools
*.pyc
_site/
Gemfile*
